.dn {
  display: none;
}
img {
  width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
}
input,
select {
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
div {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img[src=""] {
  display: none;
}
* {
  padding: 0;
  margin: 0;
}
/*====== 建议body给稿子底色背景 ==============*/
body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
::-webkit-input-placeholder {
  color: #411275;
}
.pg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg .loding {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg .loding .lad-bg {
  width: 100%;
  height: 100%;
}
.bg .loding .lad {
  width: 10.35911602vh;
  height: 15.46961326vh;
  position: absolute;
  left: 50%;
  margin-left: -2.3308011vh;
  top: 8.28729282vh;
}
.bg .loding .lad .lad-1 {
  width: 6.69889503vh;
  height: 15.46961326vh;
  position: absolute;
  left: 0vh;
  top: 0vh;
}
.bg .loding .lad .lad-2 {
  left: 6.90607735vh;
  position: absolute;
  top: 50%;
  margin-top: -3.72928177vh;
  width: 2.62430939vh;
  height: 7.45856354vh;
}
.bg .loding .make {
  width: 35.91160221vh;
  height: 10.08287293vh;
  left: 50%;
  margin-left: -17.9558011vh;
  position: absolute;
  top: 50%;
  margin-top: 0vh;
}
.bg .loding .make .lad1-1 {
  width: 7.0441989vh;
  height: 8.28729282vh;
  opacity: 0;
  transition: all;
  animation: dn 1s 1s forwards;
}
.bg .loding .make .lad1-2 {
  width: 5.93922652vh;
  height: 9.39226519vh;
  opacity: 0;
  transition: all;
  animation: dn 1s 2s forwards;
}
.bg .loding .make .lad1-3 {
  width: 7.66574586vh;
  height: 10.08287293vh;
  opacity: 0;
  transition: all;
  animation: dn 1s 3s forwards;
}
.bg .loding .make .lad1-4 {
  width: 7.45856354vh;
  height: 8.97790055vh;
  opacity: 0;
  transition: all;
  animation: dn 1s 4s forwards;
}
.bg .loding .make .lad1-5 {
  width: 4.35082873vh;
  height: 9.04696133vh;
  opacity: 0;
  transition: all;
  animation: dn 1s 5s forwards;
}
.bg .loding .wire {
  width: 100%;
  height: 0.13812155vh;
  background-color: #fff;
  position: absolute;
  left: 0vh;
  top: 42.81767956vh;
  z-index: 2;
}
.bg .loding .wire .move {
  width: 100%;
  height: 0.13812155vh;
  background-color: #000;
  animation: move 8s ;
}
.bg .loding .lad3 {
  width: 5.87016575vh;
  height: 6.21546961vh;
  position: absolute;
  left: 50%;
  margin-left: -2.93508287vh;
  top: 44.88950276vh;
}
.bg .loding .lad3 .lad-3 {
  width: 5.87016575vh;
  height: 6.21546961vh;
}
.bg1 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg1 .p1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg1 .p1 .p1-bg {
  width: 100%;
  height: 100%;
}
.bg1 .p1 .panama {
  width: 22.85911602vh;
  height: 2.62430939vh;
  position: absolute;
  left: 50%;
  margin-left: -11.42955801vh;
  top: 4.14364641vh;
}
.bg1 .p1 .panama .p1-1 {
  width: 22.85911602vh;
  height: 2.62430939vh;
}
.bg1 .p1 .bottle {
  width: 15.53867403vh;
  height: 18.64640884vh;
  position: absolute;
  left: 50%;
  margin-left: -6.56077348vh;
  top: 20.37292818vh;
  z-index: 3;
}
.bg1 .p1 .bottle .p1-2 {
  width: 15.53867403vh;
  height: 18.64640884vh;
  transform: scale(0.3);
  z-index: 3;
}
.bg1 .p1 .bottle .p1-6 {
  width: 17.61049724vh;
  height: 15.8839779vh;
  transform: scale(0.3);
  z-index: 3;
}
.bg1 .p1 .bottle .p1-7 {
  width: 21.47790055vh;
  height: 19.68232044vh;
  transform: scale(0.3);
  z-index: 3;
}
.bg1 .p1 .bottle .p1-8 {
  width: 27.27900552vh;
  height: 11.39502762vh;
  transform: scale(0.3);
  z-index: 3;
  top: 6.90607735vh;
  position: absolute;
  left: 50%;
  margin-left: -13.63950276vh;
}
.bg1 .p1 .bottle .p1-9 {
  width: 52.96961326vh;
  height: 27.20994475vh;
  top: 50%;
  margin-top: -17.05801105vh;
  position: absolute;
  left: 50%;
  margin-left: -24.17127072vh;
  transform: rotate(170deg) scale(0.2);
}
.bg1 .p1 .desk {
  width: 28.17679558vh;
  height: 39.22651934vh;
  position: absolute;
  left: 50%;
  margin-left: -12.77624309vh;
  top: 22.79005525vh;
}
.bg1 .p1 .desk .p1-3 {
  width: 28.17679558vh;
  height: 39.22651934vh;
  transform: scale(0.5);
}
.bg1 .p1 .wobble {
  width: 17.33425414vh;
  height: 13.74309392vh;
  position: absolute;
  left: 50%;
  margin-left: -8.66712707vh;
  top: 10.35911602vh;
}
.bg1 .p1 .wobble .p1-4 {
  width: 17.33425414vh;
  height: 8.49447514vh;
  position: absolute;
  left: 0vh;
  top: 0vh;
}
.bg1 .p1 .wobble .p1-4-1 {
  width: 5.24861878vh;
  height: 5.24861878vh;
  top: 50%;
  margin-top: -3.45303867vh;
  position: absolute;
  left: 50%;
  margin-left: -2.0718232vh;
  transition: all;
  animation: around 3s infinite;
}
.fitler {
  filter: blur(1px);
}
.zoom {
  transition: all;
  animation: zoom 3s forwards;
}
.zoom1 {
  transition: all;
  animation: zoom1 2s forwards;
}
.bottle1 {
  transform: rotate(45deg);
  animation: diao 4s forwards;
}
.bgzoom {
  transition: all;
  animation: bgzoom 2s forwards;
}
.aroma {
  transition: all;
  animation: aroma 2s linear forwards;
}
.aroma1 {
  transition: all;
  animation: aroma1 2s linear forwards;
}
.aroma2 {
  transition: all;
  animation: aroma2 2s linear forwards;
}
@keyframes diao {
  0% {
    top: 20.02762431vh;
  }
  100% {
    top: 43.50828729vh;
  }
}
@keyframes aroma {
  0% {
    transform: rotate(170deg) scale(0.2);
  }
  50% {
    transform: rotate(180deg) scale(0.4);
  }
  100% {
    transform: rotate(180deg) scale(0.7);
  }
}
@keyframes aroma1 {
  0% {
    transform: rotate(180deg) scale(0.7);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(180deg) scale(1.2);
  }
}
@keyframes aroma2 {
  0% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(180deg) scale(1.4);
  }
}
@keyframes bgzoom {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg) scale(1);
    transform-origin: 60% 60%;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
@keyframes zoom1 {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.4);
  }
}
@keyframes move {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes dn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes around {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.bg2 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg2 .p2 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg2 .p2 .p2-bg {
  width: 100%;
  height: 100%;
}
.bg2 .p2 .smriti {
  width: 62.36187845vh;
  height: 27.00276243vh;
  position: absolute;
  left: 50%;
  margin-left: -31.18093923vh;
  top: 6.90607735vh;
}
.bg2 .p2 .smriti .p2-1,
.bg2 .p2 .smriti .p2-2,
.bg2 .p2 .smriti .p2-3 {
  width: 16.64364641vh;
  height: 16.64364641vh;
}
.bg2 .p2 .smriti .p2-1 {
  position: absolute;
  left: 0vh;
  top: 6.90607735vh;
  transition: all;
  animation: up 2s infinite;
}
.bg2 .p2 .smriti .p2-2 {
  position: absolute;
  left: 20.09668508vh;
  top: 0.69060773vh;
  transition: all;
  animation: up1 2s 0.5s infinite;
}
.bg2 .p2 .smriti .p2-3 {
  position: absolute;
  left: 40.19337017vh;
  top: 6.90607735vh;
  transition: all;
  animation: up 2s 0.7s infinite;
}
.bg2 .p2 .create {
  width: 33.49447514vh;
  height: 7.66574586vh;
  position: absolute;
  left: 50%;
  margin-left: -16.74723757vh;
  top: 38.12154696vh;
}
.bg2 .p2 .create .p2-5 {
  width: 33.49447514vh;
  height: 7.66574586vh;
}
.bg2 .p2 .innovate {
  width: 31.56077348vh;
  height: 2.00276243vh;
  position: absolute;
  left: 50%;
  margin-left: -15.78038674vh;
  top: 47.6519337vh;
}
.bg2 .p2 .innovate .p2-4 {
  width: 31.56077348vh;
  height: 2.00276243vh;
}
@keyframes up {
  0%,
  100% {
    top: 6.90607735vh;
  }
  50% {
    top: 10.35911602vh;
  }
}
@keyframes up1 {
  0%,
  100% {
    top: 0.69060773vh;
  }
  50% {
    top: 4.14364641vh;
  }
}
.bg3 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg3 .p3 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg3 .p3 .p3-bg {
  width: 100%;
  height: 100%;
}
.bg3 .p3 .one {
  width: 12.43093923vh;
  height: 29.97237569vh;
  position: absolute;
  top: 50%;
  margin-top: -14.98618785vh;
  left: 3.45303867vh;
}
.bg3 .p3 .one .p3-2 {
  width: 6.49171271vh;
  height: 29.97237569vh;
}
.bg3 .p3 .one .p3-1 {
  width: 5.04143646vh;
  height: 21.47790055vh;
}
.bg3 .p3 .two {
  width: 33.01104972vh;
  height: 100vh;
  position: absolute;
  left: 33.01104972vh;
  top: 0vh;
}
.bg3 .p3 .two .p3-11 {
  width: 33.01104972vh;
  height: 18.30110497vh;
  position: absolute;
  top: 50%;
  margin-top: -19.95856354vh;
}
.bg3 .p3 .two .p3-3 {
  width: 9.46132597vh;
  height: 41.16022099vh;
  position: absolute;
  left: 4.83425414vh;
  top: 0vh;
}
.bg3 .p3 .two .p3-3-1 {
  width: 9.73756906vh;
  height: 41.16022099vh;
  position: absolute;
  left: 15.8839779vh;
  top: 0vh;
}
.bg3 .p3 .two .p3-8-1 {
  width: 4.14364641vh;
  height: 4.97237569vh;
  position: absolute;
  left: 13.8121547vh;
  top: 37.98342541vh;
}
.bg3 .p3 .two .sizing {
  width: 20.5801105vh;
  height: 3.24585635vh;
  top: 50%;
  margin-top: 0vh;
  position: absolute;
  left: 50%;
  margin-left: -10.29005525vh;
}
.bg3 .p3 .two .sizing .p3-10 {
  width: 20.5801105vh;
  height: 3.24585635vh;
}
.bg3 .p3 .two .p3-18 {
  width: 15.95303867vh;
  height: 1.86464088vh;
  position: absolute;
  left: 6.90607735vh;
  top: 41.43646409vh;
  z-index: 999;
}
.bg3 .p3 .three {
  width: 10.35911602vh;
  height: 100vh;
  position: absolute;
  left: 62.15469613vh;
  top: 0vh;
}
.bg3 .p3 .three .p35 {
  width: 2.83149171vh;
  height: 17.67955801vh;
  position: absolute;
  left: 50%;
  margin-left: -1.41574586vh;
  top: 8.28729282vh;
  overflow: hidden;
}
.bg3 .p3 .three .p35 .p3-4 {
  width: 2.83149171vh;
  height: 17.67955801vh;
  position: absolute;
  left: 50%;
  margin-left: -1.41574586vh;
  z-index: 1;
}
.bg3 .p3 .three .p35 .p3-5 {
  width: 2.83149171vh;
  height: 17.67955801vh;
  position: absolute;
  left: 0vh;
  bottom: 0vh;
  background: url(../img/p3_5.png) no-repeat left bottom;
  background-size: 2.83149171vh 17.67955801vh;
}
.bg3 .p3 .three .num {
  width: 12.43093923vh;
  height: 2.0718232vh;
  position: absolute;
  left: 50%;
  margin-left: -3.45303867vh;
  top: 27.62430939vh;
}
.bg3 .p3 .three .num .hj {
  width: 4.90331492vh;
  height: 1.79558011vh;
}
.bg3 .p3 .three .num .percent {
  text-align: center;
  line-height: 1.10497238vh;
  font-size: 1.10497238vh;
}
.bg3 .p3 .three .num .lad {
  width: 1.17403315vh;
  height: 1.58839779vh;
}
.bg3 .p3 .three .p3-7 {
  width: 4.4198895vh;
  height: 0.96685083vh;
  position: absolute;
  left: 4.83425414vh;
  top: 31.49171271vh;
  transition: all;
  animation: dounce 1s linear infinite;
}
.bg3 .p3 .three .p3-8 {
  width: 4.14364641vh;
  height: 4.97237569vh;
  position: absolute;
  left: 6.90607735vh;
  top: 32.45856354vh;
  z-index: 3;
  transition: all;
  animation: finger 3.5s linear infinite backwards;
}
.bg3 .p3 .four {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0vh;
  top: 0vh;
}
.bg3 .p3 .four .p3-6 {
  position: absolute;
  left: 72.51381215vh;
  top: 22.79005525vh;
  width: 14.22651934vh;
  height: 6.28453039vh;
}
.bg3 .p3 .four .p3-9 {
  position: absolute;
  left: 69.75138122vh;
  top: 26.93370166vh;
  width: 22.79005525vh;
  height: 18.71546961vh;
}
.bg3 .p3 .four .p3-9 img {
  width: 100%;
  height: 100%;
}
@keyframes dounce {
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes finger {
  10% {
    transform: translateX(10px) rotate(10deg);
  }
  20% {
    transform: translateX(20px) rotate(30deg);
  }
  30% {
    transform: translateX(30px) rotate(45deg);
  }
  40% {
    transform: translateX(20px) rotate(45deg);
  }
  50% {
    transform: translateX(15px) rotate(30deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  70% {
    transform: translateX(-10px) rotate(-10deg);
  }
  80% {
    transform: translateX(-20px) rotate(-30deg);
  }
  90% {
    transform: translateX(-30px) rotate(-30deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
.raise {
  animation: foot 1.5s backwards;
}
.raise1 {
  animation: foot 1.5s 0.8s backwards;
}
@keyframes foot {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -4.83425414vh;
  }
}
.bg4 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg4 .p4 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg4 .p4 .p4-bg {
  width: 100%;
  height: 100%;
}
.bg4 .p4 .cook {
  width: 12.43093923vh;
  height: 29.28176796vh;
  position: absolute;
  left: 1.0359116vh;
  top: 11.53314917vh;
}
.bg4 .p4 .cook .p4-2 {
  width: 6.49171271vh;
  height: 29.28176796vh;
}
.bg4 .p4 .cook .p4-1 {
  width: 5.04143646vh;
  height: 27.76243094vh;
}
.bg4 .p4 .sorghum {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0vh;
  top: 0vh;
}
.bg4 .p4 .sorghum .p4-12 {
  width: 16.02209945vh;
  height: 6.07734807vh;
  position: absolute;
  left: 20.71823204vh;
  top: 3.45303867vh;
}
.bg4 .p4 .sorghum .p4-10 {
  width: 15.67679558vh;
  height: 16.16022099vh;
  position: absolute;
  left: 15.19337017vh;
  top: 15.19337017vh;
}
.bg4 .p4 .sorghum .p4-9 {
  width: 18.02486188vh;
  height: 18.71546961vh;
  position: absolute;
  left: 24.86187845vh;
  top: 12.43093923vh;
  z-index: 5;
}
.bg4 .p4 .sorghum .p4-9-1 {
  width: 24.03314917vh;
  height: 24.65469613vh;
  position: absolute;
  left: 20.71823204vh;
  top: 8.28729282vh;
  z-index: 5;
}
.bg4 .p4 .sorghum .p4-11 {
  width: 16.64364641vh;
  height: 17.26519337vh;
  position: absolute;
  left: 33.14917127vh;
  top: 14.50276243vh;
}
.bg4 .p4 .sorghum .p3-p4-7 {
  width: 4.4198895vh;
  height: 0.96685083vh;
  position: absolute;
  left: 31.7679558vh;
  top: 27.62430939vh;
  transform: rotate(-60deg);
  z-index: 6;
}
.bg4 .p4 .sorghum .p3-p4-8 {
  width: 4.14364641vh;
  height: 4.97237569vh;
  position: absolute;
  left: 37.29281768vh;
  top: 27.62430939vh;
  transform: rotate(-50deg);
  z-index: 6;
}
.bg4 .p4 .sorghum .p4-5 {
  width: 17.47237569vh;
  height: 11.74033149vh;
  position: absolute;
  left: 25.55248619vh;
  top: 37.29281768vh;
}
.bg4 .p4 .sorghum .p4-5-1 {
  width: 23.06629834vh;
  height: 17.54143646vh;
  position: absolute;
  left: 22.79005525vh;
  top: 34.53038674vh;
}
.bg4 .p4 .sorghum .p4-4 {
  width: 8.77071823vh;
  height: 8.21823204vh;
  position: absolute;
  left: 29.00552486vh;
  top: 37.98342541vh;
  z-index: 3;
}
.bg4 .p4 .sorghum .p4-6 {
  width: 22.09944751vh;
  height: 6.07734807vh;
  position: absolute;
  left: 24.86187845vh;
  top: 27.62430939vh;
  z-index: 6;
}
.bg4 .p4 .sorghum .p4-7 {
  width: 4.21270718vh;
  height: 2.14088398vh;
  position: absolute;
  left: 43.50828729vh;
  top: 33.14917127vh;
}
.bg4 .p4 .sorghum .p4-8 {
  width: 3.66022099vh;
  height: 5.59392265vh;
  position: absolute;
  left: 44.19889503vh;
  top: 34.53038674vh;
}
.bg4 .p4 .sorghum .p4-13 {
  width: 40.95303867vh;
  height: 27.62430939vh;
  position: absolute;
  left: 52.48618785vh;
  top: 34.53038674vh;
}
.bg4 .p4 .sorghum .p4-14 {
  width: 55.24861878vh;
  height: 32.94198895vh;
  position: absolute;
  left: 52.48618785vh;
  top: -3.45303867vh;
}
.bg4 .p4 .sorghum .p4-15 {
  width: 64.64088398vh;
  height: 42.81767956vh;
  position: absolute;
  left: 48.34254144vh;
  top: 2.76243094vh;
  z-index: 5;
}
.bg4 .p4 .sorghum .p4-16 {
  width: 50.41436464vh;
  height: 38.67403315vh;
  position: absolute;
  left: 48.34254144vh;
  top: 0vh;
}
.bg4 .p4 .sorghum .p4-17 {
  width: 40.95303867vh;
  height: 27.62430939vh;
  position: absolute;
  left: 52.48618785vh;
  top: 31.07734807vh;
}
.bg4 .p4 .sorghum .p4-3 {
  width: 20.5801105vh;
  height: 3.24585635vh;
  position: absolute;
  left: 35.91160221vh;
  top: 49.72375691vh;
  z-index: 88;
}
.bg4 .p4 .sorghum .p4-3 img {
  width: 100%;
  height: 100%;
}
.bg5 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg5 .p5 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg5 .p5 .p5-bg {
  width: 100%;
  height: 100%;
}
.bg5 .maotai {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0vh;
  top: 0vh;
}
.bg5 .maotai .p5-2 {
  width: 6.35359116vh;
  height: 26.24309392vh;
  position: absolute;
  left: 13.8121547vh;
  top: 16.57458564vh;
}
.bg5 .maotai .p5-1 {
  width: 5.04143646vh;
  height: 21.89226519vh;
  position: absolute;
  left: 20.85635359vh;
  top: 16.57458564vh;
}
.bg5 .maotai .p5-11 {
  width: 13.74309392vh;
  height: 32.73480663vh;
  top: 50%;
  margin-top: -16.36740331vh;
  position: absolute;
  left: 50%;
  margin-left: -6.87154696vh;
}
.bg5 .maotai .p5-10 {
  width: 5.7320442vh;
  height: 4.55801105vh;
  position: absolute;
  left: 50%;
  margin-left: -3.17679558vh;
  top: 9.66850829vh;
}
.bg5 .maotai .p5-0 {
  width: 12.43093923vh;
  height: 31.07734807vh;
  position: absolute;
  left: 74.58563536vh;
  top: 15.19337017vh;
}
.bg5 .maotai .p5-0 .p5-9 {
  width: 2.3480663vh;
  height: 3.52209945vh;
  position: absolute;
  left: 50%;
  margin-left: -1.17403315vh;
  top: 4.14364641vh;
}
.bg5 .maotai .p5-0 .p5-16 {
  width: 11.74033149vh;
  height: 30.93922652vh;
}
.bg5 .maotai .p5-0 .p5-8 {
  width: 6.35359116vh;
  height: 0.55248619vh;
  position: absolute;
  left: 50%;
  margin-left: -3.17679558vh;
  top: 1.38121547vh;
}
.bg5 .maotai .p5-6 {
  width: 13.95027624vh;
  height: 6.21546961vh;
  position: absolute;
  left: 75.96685083vh;
  top: 9.66850829vh;
}
.bg5 .maotai .p5-7 {
  width: 15.33149171vh;
  height: 10.70441989vh;
  position: absolute;
  left: 62.15469613vh;
  top: 9.66850829vh;
}
.bg5 .maotai .p5-15 {
  width: 24.65469613vh;
  height: 5.93922652vh;
  position: absolute;
  left: 50%;
  margin-left: -12.32734807vh;
  top: 48.34254144vh;
}
.bg5 .maotai .p5-15 img {
  width: 100%;
  height: 100%;
}
.bg6 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg6 .p6 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg6 .p6 .p6-bg {
  width: 100%;
  height: 100%;
}
.bg6 .p6 .p6-1-bg {
  width: 100%;
  height: 100%;
}
.bg6 .hand {
  width: 8.28729282vh;
  height: 8.28729282vh;
  position: absolute;
  left: 37.29281768vh;
  top: 10.35911602vh;
}
.bg6 .hand .p63-7 {
  width: 4.4198895vh;
  height: 0.96685083vh;
}
.bg6 .hand .p63-8 {
  width: 4.14364641vh;
  height: 4.97237569vh;
  position: absolute;
  left: 2.76243094vh;
  top: 2.0718232vh;
}
.bg6 .bottle {
  width: 13.8121547vh;
  height: 34.53038674vh;
  top: 50%;
  margin-top: -16.36740331vh;
  position: absolute;
  left: 50%;
  margin-left: -6.87154696vh;
}
.bg6 .bottle .p6-11 {
  width: 13.74309392vh;
  height: 32.73480663vh;
  position: absolute;
  left: 0vh;
  top: 0vh;
}
.bg6 .bottle .p6-10 {
  width: 5.7320442vh;
  height: 4.55801105vh;
  position: absolute;
  left: 3.79834254vh;
  top: 0vh;
}
.bg6 .bottle .p6-16 {
  width: 11.74033149vh;
  height: 30.93922652vh;
  position: absolute;
  left: 0vh;
  top: 1.38121547vh;
}
.bg6 .open {
  width: 12.01657459vh;
  height: 6.49171271vh;
  position: absolute;
  left: 55.24861878vh;
  top: 8.28729282vh;
}
.bg6 .open img {
  width: 100%;
  height: 100%;
}
.bg6 .taste {
  width: 31.00828729vh;
  height: 5.93922652vh;
  position: absolute;
  left: 50%;
  margin-left: -15.50414365vh;
  bottom: 0;
}
.bg7 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg7 .p7 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg7 .p7 .p7-bg {
  width: 100%;
  height: 100%;
}
.bg7 .p7 .p7-11 {
  width: 88.46685083vh;
  height: 41.09116022vh;
  left: 50%;
  margin-left: -44.23342541vh;
  position: absolute;
  top: 50%;
  margin-top: -20.54558011vh;
}
.bg7 .p7 .life {
  width: 10.01381215vh;
  height: 11.60220994vh;
  position: absolute;
  left: 8.28729282vh;
  top: 9.66850829vh;
}
.bg7 .p7 .life img {
  width: 100%;
  height: 100%;
}
.bg7 .p7 .guizhou {
  width: 6.83701657vh;
  height: 7.25138122vh;
  position: absolute;
  right: 8.28729282vh;
  top: 9.66850829vh;
}
.bg7 .p7 .guizhou img {
  width: 100%;
  height: 100%;
}
.bg7 .p7 .flavour {
  width: 72.6519337vh;
  height: 25.06906077vh;
  left: 50%;
  margin-left: -36.32596685vh;
  position: absolute;
  top: 50%;
  margin-top: -12.53453039vh;
}
.bg7 .p7 .flavour .p7-2 {
  width: 24.58563536vh;
  height: 18.85359116vh;
  position: absolute;
  left: 50%;
  margin-left: -12.29281768vh;
}
.bg7 .p7 .flavour .p7-8 {
  width: 72.6519337vh;
  height: 25.06906077vh;
}
.bg7 .p7 .anew {
  width: 28.10773481vh;
  height: 5.93922652vh;
  position: absolute;
  left: 10.35911602vh;
  bottom: 8.28729282vh;
}
.bg7 .p7 .watch {
  width: 24.65469613vh;
  height: 5.93922652vh;
  position: absolute;
  right: 10.35911602vh;
  bottom: 8.28729282vh;
}
.bg8 {
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(90deg);
  position: relative;
  left: 50%;
  top: 50%;
}
.bg8 .p8 {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg8 .p8 .p8-bg {
  width: 100%;
  height: 100%;
}
.bg8 .p8 .p8-8 {
  width: 100vh;
  height: 21.27071823vh;
  left: 50%;
  margin-left: -50vh;
  position: absolute;
  top: 50%;
  margin-top: -10.63535912vh;
}
.bg8 .p8 .taste {
  width: 13.8121547vh;
  height: 21.89226519vh;
  position: absolute;
  left: 3.45303867vh;
  top: 15.8839779vh;
}
.bg8 .p8 .taste .p8-1 {
  width: 9.46132597vh;
  height: 21.89226519vh;
}
.bg8 .p8 .taste .p8-2 {
  width: 3.59116022vh;
  height: 10.4281768vh;
}
.bg8 .p8 .episode {
  width: 100vh;
  height: 51.79558011vh;
  position: absolute;
  left: 6.90607735vh;
  top: 6.90607735vh;
}
.bg8 .p8 .episode .p8-3 {
  width: 14.98618785vh;
  height: 14.98618785vh;
  position: absolute;
  left: 12.43093923vh;
  top: 3.45303867vh;
}
.bg8 .p8 .episode .p8-4 {
  width: 14.98618785vh;
  height: 14.98618785vh;
  position: absolute;
  left: 27.27900552vh;
  top: 20.71823204vh;
}
.bg8 .p8 .episode .p8-5 {
  width: 14.98618785vh;
  height: 14.98618785vh;
  position: absolute;
  left: 42.26519337vh;
  top: 3.45303867vh;
}
.bg8 .p8 .episode .p8-6 {
  width: 14.98618785vh;
  height: 14.98618785vh;
  position: absolute;
  left: 57.32044199vh;
  top: 20.71823204vh;
}
.bg8 .p8 .episode .p8-7 {
  width: 14.98618785vh;
  height: 14.98618785vh;
  position: absolute;
  left: 72.23756906vh;
  top: 3.45303867vh;
}
.bg8 .p8 .view {
  width: 24.65469613vh;
  height: 5.93922652vh;
  position: absolute;
  left: 50%;
  margin-left: -12.32734807vh;
  bottom: 5.52486188vh;
}
.bg8 .p8 .view img {
  width: 100%;
  height: 100%;
}
.bg8 .p8 .leave {
  width: 46.68508287vh;
  height: 1.45027624vh;
  position: absolute;
  left: 50%;
  margin-left: -23.34254144vh;
  bottom: 3.45303867vh;
}
.bg8 .p8 .leave img {
  width: 100%;
  height: 100%;
}
